<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

  <appender class="org.apache.log4j.ConsoleAppender" name="console">
    <param name="ImmediateFlush" value="true"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss}][%-5p]%F:%L - %m%n"/>
    </layout>
  </appender>

  <appender class="org.apache.log4j.DailyRollingFileAppender" name="file-info">
    <param name="File" value="~/Documents/logs/task/task-common-info.log"/>
    <param name="Append" value="true"/>
    <param name="DatePattern" value="'.'yyyy-MM-dd"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss}][%-5p]%F:%L - %m%n"/>
    </layout>
    <filter class="org.apache.log4j.varia.LevelRangeFilter">
      <param name="LevelMin" value="trace"/>
      <param name="LevelMax" value="info"/>
    </filter>
  </appender>

  <appender class="org.apache.log4j.DailyRollingFileAppender" name="file-error">
    <param name="File" value="~/Documents/logs/task/task-common-error.log"/>
    <param name="Threshold" value="error"/>
    <param name="DatePattern" value="'.'yyyy-MM-dd"/>
    <param name="ImmediateFlush" value="true"/>
    <param name="Append" value="true"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss}][%-5p]%F:%L - %m%n"/>
    </layout>
    <filter class="org.apache.log4j.varia.LevelRangeFilter">
      <param name="LevelMin" value="WARN"/>
      <param name="LevelMax" value="ERROR"/>
    </filter>
  </appender>

  <logger additivity="false" name="com.xkeshi">
    <level value="info"/>
    <appender-ref ref="console"/>
    <appender-ref ref="file-info"/>
    <appender-ref ref="file-error"/>
  </logger>

  <root>
    <priority value="info"/>
    <appender-ref ref="console"/>
    <appender-ref ref="file-info"/>
    <appender-ref ref="file-error"/>
  </root>

</log4j:configuration>
