<?xml version="1.0" encoding="UTF-8"?>

<configuration>

  <!-- 动态日志级别 -->
  <jmxConfigurator/>

  <!-- 定义日志文件 输出位置 -->
  <property name="logDir" value="~/Documents/logs/task/"/>
  <!-- 日志最大保留时间 30天 -->
  <property name="maxHistory" value="30"/>

  <!-- 控制台输出日志 -->
  <appender class="ch.qos.logback.core.ConsoleAppender" name="stdout">
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- 时间滚动输出 level为 INFO 日志，优先级高于等于INFO级别（如：INFO、 WARN、ERROR）的日志信息将可以被输出 -->
  <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="info">
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <!-- 设置过滤级别 -->
      <level>INFO</level>
      <!-- 用于配置符合过滤条件的操作 -->
      <onMatch>ACCEPT</onMatch>
      <!-- 用于配置不符合过滤条件的操作 -->
      <onMismatch>DENY</onMismatch>
    </filter>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!--日志输出位置 可相对、和绝对路径 -->
      <fileNamePattern>${logDir}/info/%d{yyyy-MM-dd}.log</fileNamePattern>
      <!-- 保留的归档文件的最大数量，超出数量就删除旧文件 -->
      <maxHistory>${maxHistory}</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{80} - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- 时间滚动输出 level为 ERROR 日志 -->
  <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="error">
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>ERROR</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${logDir}/error/%d{yyyy-MM-dd}.log</fileNamePattern>
      <maxHistory>${maxHistory}</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{80} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger additivity="true" level="WARN" name="org.springframework"/>

  <root>
    <!-- 打印INFO级别日志及以上级别日志 -->
    <level value="info"/>
    <!-- 控制台输出 -->
    <appender-ref ref="stdout"/>
    <!-- 文件输出 -->
    <appender-ref ref="info"/>
    <appender-ref ref="error"/>
  </root>
</configuration>